

body {
    background-color: #d4d3d3;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/*--------------------
    BACKGROUND IMAGE
---------------------*/
.bg-img {
    background-image: url(images/spring-flower.jpg!d);
    padding: 60px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-variant: small-caps;
    color: white;
    letter-spacing: 6px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: capitalize;
    text-shadow: 10px 10px 10px black;
}


/*TOP BAR*/
.sec-stat {
    display: flex;
    justify-content: space-between; /* seperate two contain/ vertically*/
    height: 40px;
    background-color: darkslateblue;
    align-items: center; /*centralize horaizantaly*/
    width: 100%;
}
/* SEARCH BAR INSIDE TOP BAR  */
.search-bar {
    border: 1px dotted royalblue;
    text-align: center;
    color: slateblue;
    border: none;
    margin-left: 10px;
    width: 20px;
}
.search-bar p{
    display: flex;
    align-items: center;
    width: 50%;
}
.search-bar input{
    background-color: rgba(238, 237, 237, 0.808);
    height: 20px;
    width: 140px;
    color: white;
    border-style: none;
}
.search-bar i{
    color: rgb(32, 2, 32);
    margin-left: 10px;
}
.search-bar:hover i{
    color: white;
    transition: color 1s;
}

.search-bar input:hover{
    box-shadow: 0px 0px 10px black;
}

/* ACCOUNT SECTION INSIDE TOP BAR  */
.account i{
    color: rgb(58, 5, 58);
    font-size: 25px;
    margin-right: 10px;
    font-weight: 100;
}
.account i:hover{
    color: white;
    transition: color 1.5s;
}
.account a{
    text-decoration: none;
    color: rgb(58, 5, 58);
    padding-right: 20px;
    font-weight: bold;
}
.account ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.account a:hover{
    color: white;
    font-weight: bold;
    transition: color 1.5s, font-weight 1.5s;
}
.account li{
    list-style-type: none;
}





/* ---------------------
      NAVIGATION BAR
----------------------- */
nav {
    padding: 0%;
    margin: 0%;
}
nav a{
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;
}
nav a:hover{
    background-color: rgb(29, 39, 39);
    color: white;
    font-weight: bold;
    transition: background-color 1.5s, font-weight 1.5s;
}

.nav-ul{
    display: flex;
    margin: 0;
    background-color: darkslateblue;
    box-shadow: 0px 0px 10px black;
}
.d-down{
    display: none;
}
 
nav > ul > li:hover > ul {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0px 0px 0px 15px;
    background-color: rgba(87, 87, 87, 0.659);
}

nav li{
    list-style-type: none;
    padding: 0%;
}

@media only screen and (max-width: 768px) {
    .nav-ul{display: block;}
    .nav-ul{padding-left: 0;}
    nav > ul > li:hover  > ul {
        margin: 0px 0px 0px 0px;
        position: relative;
    }
    
}
/* END NAV  */


/*FOOTER DESIGNE*/
footer {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(87, 87, 87);
    color: white;
    padding: 25px;
    letter-spacing: 3px;
    font-size: 1.2vw;
}

