
body {
    background-color: #d4d3d3;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/*--------------------
    BACKGROUND IMAGE
---------------------*/
.bg-img {
    background-image: url(images/spring-flower.jpg!d);
    padding: 60px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-variant: small-caps;
    color: white;
    letter-spacing: 6px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: capitalize;
    text-shadow: 10px 10px 10px black;
}


/*LOGIN SECTION DESIGNE*/
.sec-stat {
    display: flex;
    justify-content: space-between; /* seperate two contain/ vertically*/
    height: 40px;
    background-color: darkslateblue;
    align-items: center; /*centralize horaizantaly*/
    width: 100%;
}
.search-bar {
    border: 1px dotted royalblue;
    text-align: center;
    color: slateblue;
    border: none;
    margin-left: 10px;
}
.search-bar input{
    background-color: rgba(221, 217, 217, 0.521);
    height: 20px;
    width: 250px;
    color: white;
    border-style: none;
}

.search-bar:hover{
    box-shadow: 0px 0px 10px black;
}
.s-half i{
    color:rgba(241, 241, 241, 0.767);
    font-size: 25px;
    margin-right: 10px;
    font-weight: 100;
}
.s-half:hover i{
    color: white;
}






/* ---------------------
      NAVIGATION BAR
----------------------- */
nav {
    padding: 0%;
    margin: 0%;
}
nav a{
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;
}
nav a:hover{
    background-color: rgb(29, 39, 39);
    color: white;
    transition: background-color 0.5s;
}

.nav-ul{
    display: flex;
    margin: 0;
    background-color: darkslateblue;
    box-shadow: 0px 0px 10px black;
}
.d-down{
    display: none;
}
 
nav > ul > li:hover > ul {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0px 0px 0px 15px;
    background-color: rgba(87, 87, 87, 0.659);
}

nav li{
    list-style-type: none;
    padding: 0%;
}


@media only screen and (max-width: 414px) {
    .nav-ul{display: block;}
    .nav-ul{padding-left: 0;}
}
/* END NAV  */


/*FOOTER DESIGNE*/
footer {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(87, 87, 87);
    color: white;
    padding: 25px;
    letter-spacing: 3px;
    font-size: 11px;
}

