
body {
    background-color: #d4d3d3;
    margin: 0;
}
/*BACKGROUND DESIGNE*/
.bg-img {
    background-image: url(images/spring-flower.jpg!d);
    padding: 120px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-variant: small-caps;
    color: white;
    letter-spacing: 6px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: capitalize;
    text-shadow: 10px 10px 10px black;
}



/*NAVIGATION DESIGN*/
nav {
    padding: 0;
    margin: 0;
}
nav > ul {
    display: flex;
    background-color: rgb(87, 87, 87);
    box-shadow: 10px 20px 10px black;
    overflow: hidden;
    padding: 0px; /**/
}
nav li {
    list-style-type: none;
    padding: 0px;
}

nav a {
    text-decoration: none;
    color: white;
    display: block; /**/
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
    padding: 10px;
}
nav a:hover {
    background-color: rgb(26, 25, 25);
}
.d-down {
    display: none;
}
nav > ul > li:hover > ul {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: rgb(87, 87, 87);
}




/*LOGIN LOGO*/

#login {
    border-radius: 50%;
    opacity: 0.5;
    position: relative;
    top: -110px;
    right: -630px;

}
/*SECTION DIV DECORATION*/
.div_flx {
    display: flex;
}


