/* ----------------------
    common item setting 
----------------------- */
body{
    margin: 0;
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}

/* login form container 
------------------------- */
.login-container {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    background-image: url(https://images6.alphacoders.com/760/thumb-1920-760772.jpg);
    padding: 120px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.login-form {
    border: 2px solid black;
    border-radius: 5px;
    color: lightyellow;
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(126, 125, 125, 0.398);
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.419);
}

/* emain and password field 
---------------------------- */
.login-form input, button {
    margin: 10px;
    height: 30px;
    width: 200px;
}

/* image inside the login form 
-------------------------------- */
.login-form img {
    align-items: center;
    position: relative;
    justify-content: center;
}

/* navigation bar setting
------------------------- */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background-image: linear-gradient(grey, black);
    color: white;
}
.f-sec {
    padding-left: 15px;
}
.s-sec {
    padding-right: 15px;
}
.s-sec i{
    color: white;
    font-size: 20px;
}

/* footer setting
--------------------- */
footer {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(36, 34, 34, 0.878);
    color: white;
    padding: 25px;
    letter-spacing: 3px;
    font-size: 15px;
}